@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: #050505;
  color: #e0e0e0;
}

/* Можешь добавить это для плавности, но не обязательно */
html {
  scroll-behavior: smooth;
}